body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	font-size: 1.6em;
	/*background: #f5f5f5;*/
	/*color: #4d4d4d;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}

input{outline:none;}
button {background: none;}


.wrapper{
	margin: 20px 0 ;
}
.tube20y{padding: 20px 0;}

.datagrid{position: relative;margin-bottom: 60px;}
/*.datagrid-help{position: fixed; color:#CCCCCC; font-size: 2em; bottom: 20px;margin:1px;padding:10px; background: #FFFFFF;display: block;z-index: 10000;}*/

.datagrid .row{margin:0;}
.datagrid .row > [class*='col-']{padding:0;}
.datagrid .datacell{border: 1px solid transparent;height: 65px;}
.datagrid .cursorrow .datacell{background: #FAFBFC;}
/*.datagrid .datacell:hover{background: #F9FAFC;border:1px dashed #00b9e6;background-color: #ebf7ff;}*/
.datagrid .datacell.copied{color:#EE9900;border: 1px dashed #FFDD00 !important;background-color: #FFFFEE !important;}
.datagrid .datacell.cursor{border:1px dashed #00b9e6 !important;background-color: #ebf7ff !important;}
.datagrid .datacell.editing{border: 1px dashed #1ed004 !important;background-color: #d3ffd7 !important;}
.datagrid .datatext{padding:10px 10px;height: 100%;text-overflow: clip;overflow: hidden;/*white-space: nowrap;*/}
.datagrid .datatext.empty{font-size: 0.9em;color:#CCCCCC;font-style: italic;}
/*.datagrid .dataedit{display: none;}*/
.datagrid .dataedit input{width: 100%;border:0;background: transparent;padding:10px;}
.datagrid .datacell .cellhelp{position: absolute;top: -25px; left: 0; font-size: 0.75em;padding:3px 5px; color:#CCC;font-style: italic;line-height: 1.2em;
	text-overflow: clip;overflow: hidden;white-space: nowrap;background: #F9F9F9;width: 100%;}

.datagrid .addrow .row {border:0;padding:0;margin:0;}
.datagrid .addrow .datacell{background: #F9FAFC;height: auto;}
.datagrid .addrow .datatext{padding:15px 10px;font-weight: }
.datagrid .addrow .dataedit{padding: 5px 10px 10px;}
.datagrid .addrow label{color:#739bb2; font-weight: normal; font-size: .95em;margin:0;padding:0 5px;display: block;}
.datagrid .addrow .dataedit input {padding:10px 5px;background-color: rgba(165, 222, 255, 0.1)}
.datagrid .addrow .dataedit input:focus {background-color: rgba(165, 222, 255, 0.3);}
/*.datacell.editing .datatext{display: none;}*/
/*.datacell.editing .dataedit{display: block;}*/
.datagrid .datacell{border-top-color:#EEEEEE;border-right-color:#EEEEEE}
.datagrid .row .datacell:first-child{border-left-color:#EEEEEE;}
.datagrid .row:last-child .datacell{border-bottom-color:#EEEEEE;}