<!DOCTYPE html>
<html>
<head>
	<title>Grid Editor</title>
	<link rel="stylesheet" href="bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="grid.css" />
	<script type="text/javascript" src="vue.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script> -->
</head>
<body>
<div class="wrapper">
<script type="text/javascript">
var cols = [
		// {m:'id',show:true,w:'10',noneditable:true},
		{m:'name',namespace:"Name",show:true,w:'20',new:true},
		{m:'knownfor',namespace:"Known For",show:true,w:'50',new:true},
		{m:'year',namespace:"Year of Graduation",show:true,w:'8'},
		{m:'degree',namespace:"Degree",show:true,w:'15'},
		{m:'specialization',namespace:"Specialization",show:true,w:'15'},
		{m:'tags',namespace:"Tags",show:true,w:'15'},
	];
</script>
<section id="gridtable" class="datagrid gridtable">
	<datagrid :rows="rows" :cols="cols" ></datagrid>
	<div class="container"><pre>{{ $data }}</pre></div>
</section>
</div>
<div></div>

<!-- Data Grid Template -->
<template id="datagrid-template">
	<div>

		<div class="container">
			<div class="row tube20y">
				<div class="col-md-6">
					{{ totalrows}} rows
					<!-- | E: {{ editcell }}-->
					<!-- | C: {{ cursorcell }} -->
					<button class="btn btn-xs " @click="$parent.removeAll">
						Clear all
					</button>
				</div>
				<div class="col-md-6">
					<div class="pull-right">
						{{totalcols}} Cols
						<label v-for="col in cols" class="checkbox-inline"><input type="checkbox" v-model="col.show">{{col.m}}</label>
					</div>
				</div>
			</div>
			<addrow cellindex="-1,-1"></addrow>
			<div v-for="(row,rowIndex) in rows"
				:class="['row',{'cursorrow':(cursorrow==rowIndex)}]"
			>
				<datacell v-for="(c,colIndex) in cols"
					v-model="row[c.m]"
					:namespace="c.namespace"
					:cellname="c.m"
					:widthclass="colwidths[colIndex]"
					:noneditable="c.noedit"
					:cellindex="rowIndex+','+colIndex"
					v-if="c.show"
					:key="rowIndex+','+colIndex"
				></datacell>
			</div>
		</div>

	</div>
	</div>
</template>

<!-- Data Cell template -->
<template id="datacell-template">
<div :class="[widthclass,'datacell',{'editing':editing},{'cursor':cursor},{'copied':copied}]"
	v-inviewport="cursor"

>
	<div class="datatext" v-text="value?value:''+namespace" :class="{'empty':!value}"
		v-show="!editing"
	@dblclick="editCell"
	@click="$parent.moveCursor(cellindex)"
	></div>
<!-- 	@click="value?$parent.moveCursor(cellindex):editCell" -->
	<div class="dataedit" v-if="editing">
		<input type="text"
			:value="value"
			:name="cellname"
			v-focus="true"
			autocomplete="off"
			@keydown.self.stop.enter="doneEdit"
			@keydown.self.stop.esc="cancelEdit"
		 />
		<!-- @blur="doneEdit($event.target.value,$event)" -->
	</div>
</div>
</template>

<!-- Data Cell template -->
<template id="addrow-template">
<div class="row addrow">
<div :class="['col-md-12','datacell',{'cursor':cursor}]"
	v-inviewport="cursor"
>
	<div class="datatext" v-text="'+ Add Row'"
		v-show="!editing"
		@click="editCell($event)"></div>
	<form method="post" @submit="addRow($event)" @reset="reset($event)" v-if="editing" >
	<div class="row">
		<div v-for="(c,colIndex) in $parent.cols"
				:class="$parent.colwidths[colIndex]"
				v-if="c.new"
				class="dataedit"
		>
			<label v-text="c.namespace"></label>
			<input type="text"
				:name="c.m"
				v-model="newrow[c.m]"
				v-focus="!colIndex"
				autocomplete="off"
				@keyup.esc="reset($event)"
			/>
				<!-- :placeholder="c.namespace" -->
		</div>
		<div v-else>
			<input type="hidden" :name="c.m" v-model="newrow[c.m]" value="" />
		</div>
		<div class="col-sm-2">
			<label>&nbsp;</label>
			<input type="submit" name="submit" value="Submit" class="btn btn-success">
			<input type="reset" name="reset" value="Cancel" class="btn btn-danger">
		</div>
	</div>
	</form>
</div>
</div>
</template>

<script type="text/javascript" src="grid.js"></script>
</body>
</html>